body {
    width: 100%;
    background-color: #660000;
    z-index: 3;
}
/* header */

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
    border-top: 5px solid #76c38f;
    background: rgba(41, 0, 0, 0.6);
}
.menu-resp {
    list-style: none;
    padding-top: 20px;
    padding-left: 0px !important;
}
.menu-resp li {
    list-style: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.menu-resp li a {
    font-size: 14px;
    font-family: "Georgia";
    color: #FFFFFF;
}
.left-menu {
    width: 200px;
    background-color: #303030;
}
.menu {
    max-width: 80%;
    margin: 0 auto;
    z-index: 5;
}

.menu-left-button {
	background: none;
	border: none;
	color: #76c38f;
}

@media screen and (max-width: 767px) {
    .menu-in {
        margin-top: 17.5px !important;
        margin-left: 17.5px;
    }
}

.uk-nav li {
    float: right !important;
}
.logo ul {
    list-style: none;
    margin-top: 25px;
    left: 0px;
    margin-left: 0px !important;
    padding: 0 !important;
}
.logo ul .logo-1 {
    font-size: 28px;
    font-family: "Georgia";
    color: #FFFFFF;
    text-align: left;
    top: 25px;
}
.logo ul .logo-2 {
    font-size: 11px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
    top: 56px;
    letter-spacing: 1px;
}
.menu-in {
    width: 100%;
    right: 0px;
    margin-top: 25px;
}
.menu-in ul li {
    border-radius: 5px;
    margin-right: 15px;
}
.menu-in ul li a {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    padding: 5px 15px 3px 15px !important;
    border-radius: 5px;
    transition: 0.5s;
}
.menu-in ul li a:hover {
    background-color: rgb(118, 195, 143);
    border-radius: 5px;
}
.menu-in .uk-active {
    background-color: rgb(118, 195, 143);
    border-radius: 5px;
}
/* slider */

.slider {
    margin: 0 auto;
    left: 0px;
    width: 100%;
    height: 525px;
    margin-top: 0px;
    z-index: 2;
    background: rgba(41, 0, 0, 0.6);
}
.slider .uk-slideshow {
    height: 525px !important;
    list-style: none;
    padding: 0 !important;
}
.slider .uk-slideshow li {
    height: 525px;
    margin-top: 0px;
    list-style: none;
}
.slider .uk-slideshow li img {
    height: 525px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
/* content */

.wrap {
    max-width: 80%;
    margin: 0 auto;
}
.service {
    margin-top: 60px;
}
.service .uk-width-medium-1-4 {
    margin-bottom: 40px;
}
.service-item {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0px;
    transition: 0.5s;
}
.service-item:hover {
    background-color: #76c38f;
    cursor: pointer;
}
.service-item img {
    width: 100%;
    max-width: 120px;
}
.service-item h1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(51, 51, 51);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.service-item p {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.service-item:hover h1,
.service-item:hover p {
    color: rgb(255, 255, 255);
}
.wrap-work-title {
    position: relative;
}
.wrap-work-title hr {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    border: 2.5px solid #303030;
}
.wrap-work-title h1 {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: "Georgia";
    padding: 10px 25px;
    background-color: #303030;
    text-align: center;
    border-radius: 5px;
    max-width: 300px;
    position: relative;
}
/* lorem */

.lorem {
    margin-top: 30px;
    padding-bottom: 30px;
}
.lorem-item {
    position: relative;
    width: 100%;
    border: 5px solid #ffffff;
    overflow: hidden;
    transition: 0.5s;
    margin-bottom: 30px !important;
}
.lorem-item:hover {
    cursor: pointer;
    border: 5px solid #76c38f;
}
.lorem-item img {
    width: 100%;
}
.lorem-item h1 {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.5s;
    background-color: #151515;
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    text-align: center;
}
.lorem-item:hover h1 {
    transform: translateY(0%);
}
/* footer */

.footer {
    padding-top: 40px;
    background-color: #303030;
}
.footer h1 {
    width: 100%;
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    text-align: left;
}
.footer p {
    width: 100%;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(118, 195, 143);
    text-align: left;
    margin-bottom: 5px !important;
}
.footer-text-1 {
    width: 100%;
    top: 0px;
    font-size: 10px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
}
.footer-text-1 span {
    font-size: 10px;
    font-family: "Georgia";
    color: rgb(118, 195, 142);
    text-align: left;
}
.footer-text-2 {
    width: 100%;
    font-size: 10px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
}
.footer-text-3 {
    width: 100%;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
}
.footer-item a {
    width: 100%;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(118, 195, 143);
    text-align: left;
}
.footer-item a span {
    font-size: 8px;
    vertical-align: center;
    letter-spacing: 0px;
}
.footer-quick-link {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #404040;
    padding-bottom: 4px;
}
.footer-quick-link {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(118, 195, 143);
    text-align: left;
}
.footer-text-4 {
    width: 100%;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
}
.footer-item:first-child .footer-text-4 {
    margin-bottom: 35px;
}
.footer-text-4 span {
    color: rgb(118, 195, 143);
}
.footer-item input {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: #222222;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
}
.footer-item textarea {
    width: 100%;
    padding: 10px;
    min-height: 80px;
    text-align: left;
    border: none;
    background-color: #222222;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
}
.footer-item button {
    padding: 10px 15px;
    text-align: left;
    border: none;
    background-color: #76c38f;
    border-radius: 10px;
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(48, 48, 48);
    transition: 0.5s;
}
.footer-item button:hover {
    cursor: pointer;
    background-color: #45a464;
}
/* copyright */

.copyright {
    width: 100%;
    border-top: 1px solid #3a3a3a;
    background-color: #2b2b2b;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 5px solid #303030;
}
.copyright-left p {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: left;
}
.copyright-right p {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    text-align: right;
}